body {
    background-color: aliceblue;
}

.header-one-style,
.header-two-style {

    color: rgb(45, 209, 224);
    background-color: rgb(47 79 98);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.header-one-style {
   
    font-size: 42px;

}

.header-two-style {

    font-size: 35px;
    
}

.image-style {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
   
}

#prep-details {
    text-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description-style {
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.unorganized-list-style{

    text-align: center;
    list-style-position: outside;
    padding-left: 0pt;
    font-size: 20px;
    font-family:  Cambria, Tahoma, Geneva, Verdana, sans-serif;

}

