
body {
    background-color: rgb(236, 240, 240);
   margin-left: 90px;
   margin-right: 90px;
   margin-top: 30px;
   margin-bottom: 30px;

}

.header-one-style,
.header-two-style {

    color: rgb(45, 209, 224);
    background-color: rgb(47 79 98);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.header-one-style {
   
    font-size: 42px;
    font-weight: 700;
 

}

.header-two-style {

    font-size: 35px;
    
}

.header-three-style {

    text-align: center;
    font-size: 18px;
    
}

.image-style {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
   
}

#prep-details {
    text-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description-style {
    text-align: center;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.unorganized-list-style-home-page{

    margin-top: 50px;
    
}

.list-item {

    list-style-position: inside;
    list-style-type: none;
    border-style:hidden;
    padding: 5px;
    text-align: center;
    font-family:  Stencil Std, fantasy, Optima, sans-serif;
    font-size: 35px;
    line-height: 50px;
    text-shadow: 1px 1px #a7acd7;
    
    
}

a:link {
    text-decoration: none;
}

.unorganized-list-style {

    line-height: 25px;
}

.organized-list-style {

    line-height: 25px;
}